In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('bmw.csv')

In [8]:
data.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0

In [10]:
print(data.dtypes)

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [11]:
data.info

<bound method DataFrame.info of            model  year  price transmission  mileage fuelType  tax   mpg  \
0       5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1       6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2       5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3       1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4       7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10776         X3  2016  19000    Automatic    40818   Diesel  150  54.3
10777   5 Series  2016  14600    Automatic    42947   Diesel  125  60.1
10778   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
10779   1 Series  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
0             2.0
1             2.0
2             3.0
3             1.5
4             3.0
...           ...
10776         2.0
10777         2.0
10778         2.0
10779         2.0
10780         2.0

[10781 rows x 9 columns]>

In [12]:
data.describe

<bound method NDFrame.describe of            model  year  price transmission  mileage fuelType  tax   mpg  \
0       5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1       6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2       5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3       1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4       7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10776         X3  2016  19000    Automatic    40818   Diesel  150  54.3
10777   5 Series  2016  14600    Automatic    42947   Diesel  125  60.1
10778   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
10779   1 Series  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
0             2.0
1             2.0
2             3.0
3             1.5
4             3.0
...           ...
10776         2.0
10777         2.0
10778         2.0
10779         2.0
10780         2.0

[10781 rows x 9 columns]>

In [13]:
data.count

<bound method DataFrame.count of            model  year  price transmission  mileage fuelType  tax   mpg  \
0       5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1       6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2       5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3       1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4       7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10776         X3  2016  19000    Automatic    40818   Diesel  150  54.3
10777   5 Series  2016  14600    Automatic    42947   Diesel  125  60.1
10778   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
10779   1 Series  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
0             2.0
1             2.0
2             3.0
3             1.5
4             3.0
...           ...
10776         2.0
10777         2.0
10778         2.0
10779         2.0
10780         2.0

[10781 rows x 9 columns]>